* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #100404fe;
}

main {
  border: 1px solid #6f6f6f;
  width: 80%;
  margin: 4% auto;
  padding: 2%;
  border-radius: 5px;
  background-image: linear-gradient(to right, #020225, #04345e);
}

button {
  border: none;
  padding: 8px;
  font-size: 1.1em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  border: 1px solid #6f6f6f;
}

li {
  font-weight: 600;
  padding: 5%;
  font-size: 1em;
}

li:nth-child(even) {
  background-color: #484a48fd;
}

.header {
  position: relative;
  top: 5%;
  left: 8%;
  color: #fff;
}

.container {
  display: flex;
  gap: 20%;
  margin: 2% auto;
  width: 80%;
}

.scores,
.fill-the-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.score-title {
  display: flex;
  justify-content: space-between;
}

.scored,
.form-title {
  font-size: 1.5em;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 20vh;
}

input {
  height: 50%;
  padding: 0 2%;
  border-radius: 5px;
}

.form-btn {
  color: #fff;
  background-color: rgb(7, 192, 7);
  align-self: flex-end;
}

.refresh {
  background-color: #0909f3;
  color: #fff;
}
