* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 8% auto;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 1px solid black;
  padding: 5px;
  box-shadow: 5px 3px 1px black;
}

ul {
  list-style-type: none;
  border: 1px solid black;
}

li:nth-child(even) {
  background-color: rgb(179, 186, 186);
}

.header {
  position: relative;
  top: 5%;
  left: 16%;
}

.container {
  display: flex;
  gap: 20%;
  width: 60%;
  margin: 2% auto;
}

.scores {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.score-title {
  display: flex;
  justify-content: space-between;
}

.fill-the-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scored,
.form-title {
  font-size: 1.4em;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-btn {
  align-self: flex-end;
}

input {
  padding: 1%;
}
